
/* To add some space below the navigation bar */
.navbar {
  padding-right: 20px;
  padding-left: 200px;
  height:100px;
  position: fixed;
  background-color: #f8f8f8;
}

.navbar-brand {
  background: url('https://github.com/jhudsl/ottr-website/raw/main/resources/images/basic_otter_water.PNG') center / contain no-repeat;
  width: 200px;
  height: 100px;
  background-color: #aaf0d1;
  position: absolute;
  left: 0%;
}





body {
  margin-top: 20px;
  font-family: Verdana;
  font-size: 15px;
  line-height: 20px;
  color: #656566; <----
  background-color: #262528;
}


/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: #aaf0d1;
  font-weight:bold;

}

.banner_mono {
  background-color: #6fa8dc;
  font-weight:bold;
  color:#ffd966;
  text-align: center;

}

/* Style buttons - if you want some text centered and bolded */

.center {
  font-weight:bold;
  text-align: center;
}

/* Style buttons - if you want to have a button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


